.grid-container {
    width: fit-content;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.box-column {
    display: flex;
}

.box {
    height: 50px;
    width: 50px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.box.filled {
    background-color: red;
}