@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root {
    /* For game control information */
    --control_info_font: 'Gideon Roman', cursive;
    --pause_font: 'Merriweather', serif;
}

.play-screen {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pause-screen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    opacity: 0;
}

.pause-screen h3 {
    color: #fff;
    font-family: var(--pause_font);
    letter-spacing: 5px;
}

.pause-screen.active {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About the game or the tetris itself */
    .game-container {
        display: flex;
    }

    /* For hold function of the game*/
        .hold-container {
            width: 120px;
            height: 120px;
            background-color: #fff;
            border: 2px black solid;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .game-information.small-screen .hold-container {
            display: none;
        }

        .block-type {
            max-width: 100px;
            max-height: 100px;
        }

    .game-border {
        border: 5px solid var(--grid-border-color);
        border-radius: 10px;
    }

    .grid-container {
        width: fit-content;
        height: fit-content;
        border-right: 1px solid var(--grid-border-color);
        border-bottom: 1px solid var(--grid-border-color);
    }

    .box-column {
        display: flex;
    }

    .box {
        height: 25px;
        width: 25px;
        border-top: 1px solid var(--grid-border-color);
        border-left: 1px solid var(--grid-border-color);
    }

    .box.current {
        background-color: var(--current-block-color);
    }

    .box.filled {
        background-color: var(--filled-block-color);
    }

    .box.shadow {
        background-color: rgb(173, 197, 136);
    }

/* About game information */
    .game-information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 250px;
    }

    .game-information.small-screen {
        display: none;
    }

    /* Score div is in score.css */

    .game-controls {
        font-family: var(--control_info_font);
        width: 100%;
        padding: 15px;
        border: 1px solid var(--grid-border-color);
        border-radius: 10px;
        background-color: var(--game-info-bg-color);
    }

    .game-controls h2 {
        font-size: 30px;
        text-align: center;
    }

    .game-controls ul {
        padding-left: 1.5rem;
        list-style-type: square;
    }

    .game-controls ul li {
        font-size: 15px;
    }

@media (max-width: 750px) {
    .game-controls {
        padding: 5px;
    }

    .game-controls h2 {
        font-size: 25px;
    }

    .game-controls ul {
        padding-left: 1.2rem;
    }

    .game-controls ul li {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .game-information {
        display: none;
    }

    .game-information.small-screen {
        display: flex;
        margin-top: 10px;
    }

    .hold-container {
        display: none;
    }

    .game-information.small-screen .hold-container {
        display: flex;
        width: 100px;
        height: 100px;
        margin: 0px;
    }

    .block-type {
        max-width: 80px;
        max-height: 80px;
    }
}