@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rowdies:wght@300&display=swap');

:root {
    --game_score_font: 'Open Sans', sans-serif;
}

.game-score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    border: 1px solid #D4F4DD;
    border-radius: 10px;
    background-color: #197BBD;
    text-align: center;
    margin-bottom: 50px;
}

.game-score h3 {
    color: #ffffff;
    font-size: 30px;
    font-family: var(--game_score_font);
    font-weight: lighter;
}

@media (max-width: 750px) {
    .game-score {
        height: 50px;
        width: 200px;
        margin-bottom: 20px;
    }

    .game-score h3 {
        font-size: 25px;
    }
}